a {
    text-decoration: none;
    color: #a67c52;
}

footer {
width: 100%;
background-color: #f2e9e1;
float: left;
}

.box1 {
border: #a67c52;
}



ul,li{
list-style:none;
}


footer {
    line-height: 1.5;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}
html {
font-size: 62.5%;
}

footer nav ul li {
    font-size: 1.4rem;
    color: #594A42;
    line-height: 2em;
    font-weight: 500;
}

.right {
border-left: #a67c52;
border-width: 2px;
border-style: dotted;
border-top: 0;border-right: 0;border-bottom: 0;
}

.box1 {
border-color: #a67c52;
border-width: 1px;
border-style: solid;
width: 387px;
height: 387px;
}
.box2 {
border-color: #a67c52;
border-width: 1px;
border-style: solid;
width: 387px;
height: 387px;
}

.picture {
position: relative;
top: -350px;
left: 850px;
}

.gif {
transition: 0.3s;
text-decoration: underline;
}

nav ul li{
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
display: inline;
padding: 5px 10px 5px 10px;
}

.link {
background-color: #BE966B;
text-align: center;
font-size: 1.4rem;
color:#FFFFFF;
line-height: 2em;
letter-spacing: 0em;
width: 100%;
}
.link li {
color: white;}

.footer2 {
width: 100%;
background-color: #947B62;
text-align: center;
padding-top: 6%;
padding-bottom: 6%;
display: block;
}

.link li a {
color: #FFF;
text-decoration: none;
}

html, body, div, span,a, ul, li,tr, th, td 
{
margin: 0;
}

.footer2 {
color: #FFF;
}

.footer2 img {
width: 127px;
padding-bottom: 2%;
}

nav ul li{
margin-left: 50px;
margin-right: 50px;
}

